:root {
  --max-width: 1200px

}

header {
  background-color: white;
  max-width: var(--max-width);
  margin: 0 auto;
  height: 7.4rem;

  .logo{
    width: 80px;
  }

}

.ul-links {
  padding-bottom: 10px;

  li {
    margin: 0 40px;
  }
}

.nav-link {
  font-size: 1.6rem;
  color: black;
  text-decoration: none;
  padding-bottom: 6px;

  &:hover, &-active {
    color: #6ea1fe;
    border-bottom: solid 3px #6ea1fe;
  }
}

main {
  max-width: var(--max-width);
  margin: 0 auto;
}

footer{
  color: white;
  height: 60px;
  line-height: 60px;
  background: #666;
  font-size: 1.8rem;
  text-align: center;
}