:root {
  --active-color: #065aa6;
}

.layout-width{
  width: 1200px;
  margin: 0 auto;
}

header {
  margin-bottom: 34px;
  color: white;


  .header-top {
    background: black;
    font-size: 1.2rem;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .header-menu {
    box-shadow: 0px 2px 10px 0px rgba(106, 106, 106, 0.28);

    &>div{
      height: 60px;
    }
  }

  .logo-title {
    font-size: 2.4rem;
    color: #065aa6;
  }

  .header-menu-ul{
    height: 100%;
  }

  .menu-item {

    height: 100%;
    padding-left: 18px;
    padding-right: 18px;
    vertical-align: middle;
    white-space:nowrap;

    a{
      color: #666666;
    }

    &.active {
      border-bottom: solid 2px var(--active-color);

      a{
        color: var(--active-color);
      }
    }

  }
}


footer{
  background: #1f2933;

  &>div{
    color: white;
    height: 110px;
  }

  .logo-title{
    font-size: 3.7rem;
  }

  .contact{
    font-size: 1.4rem;
    font-weight: normal;
  }
}

.section-wrapper{
  background-color: #ffffff;
  box-shadow: 0px 2px 5px 0px rgba(134, 134, 134, 0.35);
  border-radius: 3px;
}