<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cqaso专栏后台系统</title>
</head>
<body>
<div id="react-container">{{{content}}}</div>
<div> {{users}} </div>
<script id="INITIAL_STATE">window.__INITIAL_STATE__ = {{{initialState}}}</script>
</body>
</html>