@import "./reset.css";
@import "./variables.css";
@import "./utilities.css";
@import "./button.css";

html {
  font-size: 62.5%;
}

body {
  font-family: "Microsoft Yahei", "Helvetica Neue", "宋体", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}



a {
  cursor: pointer;
  text-decoration: none;
}