html {
  font-size: 62.5%;
}

body{
  background-color: #f2f2f2;
}

a:active,a:hover,a:focus,a:focus-within{
  text-decoration: none;
  outline:0;
}

ul,ol{
  li{
    list-style-type:none;
  }
}

*,*:before,*:after{
  box-sizing: border-box;
}