html {
  font-size: 625%;
}

body {
  font-family: "Microsoft Yahei", "Helvetica Neue", "宋体", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.16rem;
  background-color: #f2f2f2;
}

html,body,#react-container{
  height: 100%;
}

#react-container{
  display: flex;
  flex-direction: column;
}

a {
  cursor: pointer;
  text-decoration: none;
}