#coinMarketTrend{
    padding-bottom: 10px;
    margin-top:20px;

    .trend-header{
        padding: 10px;
    }
    h4{
        font-size: 1.6rem;
        color: #333333;
    }
    label{
        font-size: 1.4rem;
        margin-right: 10px;
    }
}