#coinMarketTrend{
    padding-bottom: 0.10rem;
    margin-top:0.2rem;

    .trend-header{
        padding: 10px;
    }
    h4{
        font-size: 0.16rem;
        color: #333333;
    }
    label{
        font-size: 0.14rem;
        margin-right: 10px;
    }
}